body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 225, 225);
}

h1 {
  text-align: center;
}
img {
  
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nobutton {
  color: black;
  width: 150px;
  height: 50px;
  padding: 5px;
  background-color: rgb(250, 248, 248);
  position:absolute; right:45%; bottom:80px; width:80px; height:50px;
}
#yesbutton {
  color: black;
  width: 150px;
  height: 50px;
  padding: 5px;
  background-color: rgb(250, 248, 248);
  position:absolute; left:45%; bottom:80px; width:80px; height:50px;
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  h1, img {
    width: 100%;
  }
  #nobutton {
    position:absolute; right: 55%; bottom:70px; width:80px; height:50px;
  }
  #yesbutton {
    position:absolute; left:55%; bottom:70px; width:80px; height:50px;
  }
}
